beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.6
cryptocompare==0.7.5
idna==3.2
praw==7.4.0
prawcore==2.3.0
pytz==2021.3
requests==2.26.0
soupsieve==2.2.1
update-checker==0.18.0
urllib3==1.26.7
websocket-client==1.2.1